@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #F7F7F7;
}

.header {
	background-color: #356062;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 0;
	color: #F7F7F7;
}

.social-media {
	text-align: right;
	padding-left: 5px;
	margin-top: -30px;
}

@media (max-width: 960px) {
	.social-media {
		text-align: center;
		margin-top: 0px;
	}
}

.splash {
	margin-bottom: 0;
	background-image: url('../img/knot.jpg');
	background-position: center;
	color: white;
	padding-left: 10%;
	padding-right: 10%;
}

.splash img {
	width: 100%;
	height: auto;
}

.splash p {
	text-align: center;
	font-size: 2em;
}

.header p {
	padding-top: 5px;
	padding-bottom: 0px;
	font-size: 1.2em;
}

.main {
	margin: auto;
	max-width: 100%;
	padding-bottom: 50px;
	padding-left: 10%;
	padding-right: 10%;
}

.main img {
	width: 100%;
	height: auto;
	padding-bottom: 10px;
}

.main p {
	padding-top: 10px;
	padding-bottom: 20px;
}

#what p {
	text-align: center;
}

.main .col-md-5 {
	padding-bottom: 30px;
}

.contact h2 {
	color: white;
	text-align: left;
}

.container-header {
	padding-left: 15px;
	padding-bottom: 20px;
}

.about {
	text-align: left;
	padding-left: 20px;
}

.contact {
	background-color: #356062;
	color: white;
}

.contact p {
	text-align: left;
}

.backed {
	background-color: #113C3E;
	margin-bottom: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 1.2em;
	color: white;
}

#fifty {
	margin-top: 10px;
	max-width: 150px;
}

#phone {
	font-size: 0.em;
}

.footer {
	margin-bottom: 0;
	background-color: white;
	padding: 20px;
}

footer {
	text-align: center;
}

input {
	max-width: 300px;
}

textarea {
	max-width: 300px;
}

.form {
	padding-left: 20px;
}

.form-control {
	border-radius: 0;
}

#customer-story {
	background-color: #D4DCDC;
	padding-bottom: 75px;
}

#customer-story p {
	padding-top: 0px;
	padding-bottom: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.quote {
	background-color: #F7F7F7;
	padding: 10px;
}

.quote p {
	margin-top: 10px;
}

#richard {
	padding: 10px;
	max-width: 200px;
}

#who p {
	font-size: 1em;
}

.claire-social {
	margin-top: -25px;
}

#knot-logo {
	height: 100px;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
	color: #fff;
	border-radius: 0;
}

.btn-default.outline:hover, .btn-default.outline:focus, .btn-default.outline:active, .btn-default.outline.active, .open > .dropdown-toggle.btn-default {
	color: #356062;
	border-color: #fff;
	background: #fff;
}

.btn-default.outline:active, .btn-default.outline.active {
	border-color: #fff;
	color: #fff;
	box-shadow: none;
}
