<div class="jumbotron main contact">
  <div class="container">
    <div class="row container-header">
      <h2>Contact</h2>
    </div>
    <div class="row form">
      <div class="col-md-6">
        <form action="https://formspree.io/claire.kemp@knotresources.com" method="POST">
          <div class="form-group">
            <label for="inputName">Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" name="name">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="_replyto">
          </div>
          <div class="form-group">
            <label for="inputMessage">Message</label>
            <textarea class="form-control" id="inputMessage" rows="3" name="message"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-default outline" value="Send">Send</button>
          </div>
        </form>
      </div>
      <div class="col-md-6 contact-info">
        <a href="https://twitter.com/KnotResources"><em class="fa fa-twitter fa-2x"></em></a>
        <a href="https://www.linkedin.com/company/10536660"><em class="fa fa-linkedin-square fa-2x"></em></a>
        <p>
          Knot Resources </br>
          17 Blossom Street </br>
          London </br>
          E1 6PL </br></br>
          <span id="phone">
            +44 7964 292 002 </br>
            claire.kemp@knotresources.com
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
