<div class="jumbotron header">
  <div class="container">
    <a href="/">
      <img src="/img/knot-logo.png" id="knot-logo"></img>
    </a>
    <p class="subtitle">Think people, (k)not resources</p>
    <nav>
      <div class="text-links">
        <a href="/">Home</a>
        <a href="/onboarding">Onboarding</a>
        <a href="/improvement">Growing</a>
        <a href="/innovation">Innovating</a>
        <!--<a href="/blog">Blog</a>-->
      </div>
      <div class="icon-links">
        <a href="https://twitter.com/KnotResources"><em class="fa fa-twitter fa-2x"></em></a>
        <a href="https://www.linkedin.com/company/10536660"><em class="fa fa-linkedin-square fa-2x"></em></a>
      <div>
    </nav>
  </div>
</div>
