<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head_content.html %}
    <link href="/css/blog.css" rel="stylesheet">
  </head>

  <body>
    {% include header.html %}

    <div class="jumbotron splash blog">
      <div class="container">
        <div class="row container-header">
          <h2>
            <strong>{{ page.title }}</strong>
          </h2>
        </div>
        {% if page.subtitle %}
          <div class="row">
            <p>{{ page.subtitle }}</p>
          </div>
        {% endif %}
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12 post-body">{{content}}</div>
      </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
